* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: black;
    font-size: 3em;
    text-align: center;
}
